import(data.table)
importFrom(stats,setNames)
export(aggregate_team_fantasy)
export(as_ffsimulator_rankings)
export(byor_etr)
export(byor_fbg)
export(byor_fantasypros)
export(byor_generic)
export(evaluate_interval_coverage)
export(make_nflseedr_compute_results)
export(new_correlation_layer)
export(normalize_rankings)
export(simulate_nfl_from_fantasy)
export(simulate_player_outcomes)
export(simulate_player_week_outcomes)
export(standardize_team_fantasy)
export(summarize_player_outcomes)
export(summarize_nfl_game_outcomes)
